<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net>
    <!-- Debug Log -->
    <appender name="DebugLog" type="log4net.Appender.RollingFileAppender">
      <file value="E:\CDG\Audit\logs\Debug.log" />
      <datePattern value="'_'yyyy-MM-dd'.log'" />
      <appendToFile value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %level -- %message%newline" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="DEBUG" />
        <levelMax value="DEBUG" />
      </filter>
    </appender>
    <!-- Error Log -->
    <appender name="ErrorLog" type="log4net.Appender.RollingFileAppender">
      <file value="E:\CDG\Audit\logs\Error.log" />
      <datePattern value="'_'yyyy-MM-dd'.log'" />
      <appendToFile value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %level -- %message%newline" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="ERROR" />
        <levelMax value="ERROR" />
      </filter>
    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="DebugLog" />
      <appender-ref ref="ErrorLog" />
    </root>
  </log4net>
  <connectionStrings>
    <!-- <add name="ConnectionString" connectionString="Server=ICSNK3BD3\SQLEXPRESS;Database=apsweb1;Integrated Security=True;User Id=sa;Password=P@ssw0rd"/> -->
  </connectionStrings>
  <appSettings>
    <add key="" value="" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />

    <!-- 1)บัญชีเงินสดในมือ -->
    <add key="GRP_01_1" value="RA,R1,RB,R2,RC,R3,RD,R4,G4,R8,BD,R6,R7" />
    <add key="GRP_01_2" value="R1/SA/BD/RA,S1,R2/SB/RB,S2,R3/SC,S3,R4/SD,S4,R8/G4,S8,R6/R7/BD/R1,S6/S7,S6/S7" />
    <!-- 2)บัญชีพักเงินนำส่ง -->
    <add key="GRP_02_1" value="" />
    <add key="GRP_02_2" value="" />
    <!-- 3)บัญชีพักรอ Clearing-->
    <add key="GRP_03_1" value="" />
    <add key="GRP_03_2" value="" />
    <!-- 4)บัญชีเงินฝากธนาคาร-->
    <add key="GRP_04_1" value="" />
    <add key="GRP_04_2" value="" />
    <!-- 5)บัญชีค้างรับจากกรมบัญชีกลาง-->
    <add key="GRP_05_1" value="" />
    <add key="GRP_05_2" value="" />
    <!-- 6)บัญชีเงินฝากธนาคารเพื่อนำส่งเงินรายได้แผ่นดิน-->
    <add key="GRP_06_1" value="PY,PM" />
    <add key="GRP_06_2" value="PY/PM/PZ,PZ" />
    <!-- 7)บัญชีลูกหนี้เงินยืมในงบประมาณหรือบัญีลูกหนี้เงินยืมนอกงบประมาณ-->
    <add key="GRP_07_1" value="" />
    <add key="GRP_07_2" value="" />
    <!-- 8)บัญชีลูกหนี้ส่วนราชการ-รายได้รับแทนกันหรือบัญชีเจ้าหนี้ส่วนราชการ-รายได้รับแทนกัน-->
    <add key="GRP_08_1" value="" />
    <add key="GRP_08_2" value="" />
    <!-- 9)บัญชีเจ้าหนี้การค้า-บุคบากรภายนอก-->
    <add key="GRP_09_1" value="" />
    <add key="GRP_09_2" value="" />
    <!-- 10)บัญชีรับสินค้า/ใบสำคัญ-->
    <add key="GRP_10_1" value="" />
    <add key="GRP_10_2" value="" />
    <!-- 11)บัญชีใบสำคัญค้างจ่าย-->
    <add key="GRP_11_1" value="" />
    <add key="GRP_11_2" value="" />
    <!-- 12)บัญชีภาษีหัก ณ ที่จ่ายรอนำส่ง-->
    <add key="GRP_12_1" value="" />
    <add key="GRP_12_2" value="" />
    <!-- 13)บัญเบิกเงินเกินส่งคืนรอนำส่ง-->
    <add key="GRP_13_1" value="" />
    <add key="GRP_14_2" value="" />




  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>